@charset "utf-8";

/* 메인 슬라이드 */
.main__wrap {
    width: 100%;
}

.main__bg {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main__slides>.main__bn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}


.main__slides>.main__bn.active {
    opacity: 1;
    visibility: visible;
}

.main__inner {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #fff;
    box-sizing: border-box;
}

.main__inner img {
    width: 100%;
    height: 100%;
}

.poster__tit1  {
    position: absolute;
    top: 380px;
    left: 13%;
    width: 250px;
    height: 150px;
}

.poster__tit1 img {
    width: 100%;
}

.title__btn1 {
    border: #000 1px solid;
    color: var(--black);
    font-size: var(--size-s);
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.sub__select:hover {
    background-color: var(--point);
}

.poster__tit2 {
    position: absolute;
    top: 200px;
    left: 15%;
    width: 1000px;
    height: 240px;
}

.poster__tit2 img {
    width: 100%;
}

.poster2__date {
    position: absolute;
    width: 250px;
    height: 30px;
    font-size: 6rem;
    color: #000;
    top: 170px;
    left: 290px;
}

.poster2__place {
    position: absolute;
    width: 160px;
    height: 30px;
    font-size: 5rem;
    color: #000;
    bottom: 490px;
    left: 980px;
    text-align: center;
}

.title__btn2 {
    border: #000 1px solid;
    color: var(--black);
    font-size: var(--size-s);
    padding: 15px 50px;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.poster__tit3 {
    position: absolute;
    width: 850px;
    top: 200px;
    left: 26%;
}

.poster__tit3 img {
    width: 100%;
}

.title__btn3 {
    border: #fff 1px solid;
    color: #fff;
    font-size: var(--size-s);
    padding: 15px 50px;
    float: right;
    margin-bottom: -10px;
    cursor: pointer;
}

.bottom__line__left {
    background-color: yellowgreen;
    width: 800px;
    height: 50px;
    position: relative;
    margin-top: 220px;
    left: -200px;
}

.bottom__line__left:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-top: 2px solid #fff;
    animation: border_anim2 8s linear forwards;
}

.bottom__line__right1 {
    width: 800px;
    height: 50px;
    position: relative;
    left: 780px;
    margin-top: 215px;
}

.bottom__line__right1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-top: 2px solid #fff;
    animation: border_anim2 8s linear forwards;
    animation-direction:reverse;
    animation-iteration-count: infinite;
}

.bottom__line__right2 {
    width: 800px;
    height: 50px;
    position: relative;
    left: 745px;
    margin-top: 265px;
}

.bottom__line__right2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-top: 2px solid #fff;
    animation: border_anim2 8s linear forwards;
    animation-direction:reverse;
    animation-iteration-count: infinite;
}

.bottom__line__right3 {
    width: 800px;
    height: 50px;
    position: relative;
    left: 535px;
    margin-top: 270px;
}

.bottom__line__right3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-top: 2px solid #fff;
    animation: border_anim2 8s linear forwards;
    animation-direction:reverse;
    animation-iteration-count: infinite;
}

/* 왼쪽 */
@keyframes border_anim {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* 오른쪽 */
@keyframes border_anim2 {
    100% {
        width: 100%;
    }

    0% {
        width: 0%;
    }
}

/* 슬라이드 페이지 버튼 */
.main__page__btns {
    position: absolute;
    top: 90%;
    left: 47%;
}

.main__page__btn {
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.next-btn {
    margin-left: 60px;
}

.main__page__btn>i {
    display: block;
    font-size: 20px;
}

/* 슬라이드 페이지 번호 */
.main__page__btns>.main__page__no {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.main__page__no>span {
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

/* 라이브러리 */
button {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
}

button {
    cursor: pointer;
    padding: 0;
}




/* 앨범 슬라이드 */
.album__wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    background-color: black;
    box-sizing: border-box;
}

.album__cover {
    position: absolute;
    left: 0;
    top: 10%;
}

.album__cover.animated {
    transition: 0.5s ease-out;
}

.album__cover>li {
    margin-top: 10px;
    float: left;
    width: 350px;
    height: 350px;
}

.album__box>li>img {
    width: 100%;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.album__box1 {
    transform: translateY(150px);
    opacity: 0;
    transition: 0.9s ease-in-out;
}

.album__box2 {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s ease-in-out;
}

.album__box3 {
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s ease-in-out;
}

.album__box4 {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-in-out;
}

.album__box5 {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-in-out;
}

.album__box6 {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-in-out;
}

.album__box7 {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-in-out;
}

.album__box8 {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-in-out;
}

.album__box9 {
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease-in-out;
}

.album__box10 {
    transform: translateY(150px);
    opacity: 0;
    transition: 0.8s ease-in-out;
}

.album__box1 img:hover {
    transform: rotate(30deg);
}

.album__box2 img:hover {
    transform: rotate(30deg);
}

.album__box3 img:hover {
    transform: rotate(30deg);
}

.album__box4 img:hover {
    transform: rotate(30deg);
}

.album__box5 img:hover {
    transform: rotate(30deg);
}

.album__box6 img:hover {
    transform: rotate(30deg);
}

.album__box7 img:hover {
    transform: rotate(30deg);
}

.album__box8 img:hover {
    transform: rotate(30deg);
}

.album__box9 img:hover {
    transform: rotate(30deg);
}

.album__box10 img:hover {
    transform: rotate(30deg);
}

.album__box li:not(:last-child) {
    margin-right: 40px;
}

.controls {
    text-align: center;
    display: flex;
    margin: -100px -38%;
    z-index: 1;
    position: absolute;
}

.controls>span {
    color: #fff;
    padding: 0px 20px 10px 20px;
    margin: 0 800px;
    cursor: pointer;
}

.controls>span:hover {
    color: #7afafa;
}

.cover__prev {
    font-size: 9rem;
    border: 1px solid #fff;
}

.cover__prev:hover {
    border: #7afafa solid 3px;
}

.cover__next {
    font-size: 9rem;
    border: 1px solid #fff;
}

.cover__next:hover {
    border: #7afafa solid 3px;
}