@charset "utf-8";


/* 메인슬라이더 */
#main__sldier{
    width: 100%;
    height: 100vh;
}

.main__sldier__conatier {
    position: relative;
}

.main__bg {

}

.main__bg img {

}

/* 앨범슬라이더 */
#album__slider {
    width: 100%;
    height: 100vh;
}