@charset "utf-8";

/* 메인 슬라이드 */
#main__slide{
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.main__bg {
    width: 100%;
}

.main__bg>li {
    width: 100%;
    height: 100vh;
    float: left;
}

.main__bg>li img {
    width: 100%;
    height: 100%;
}

span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #fff;
    line-height: 20px;

    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
}

span:hover {
    color: #000;
}

.prev {
    left: 0;
    border-radius: 0 10px 10px 0px;
    padding: 10px;
}

.next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}



/* 앨범 슬라이드 */
#album__slide {
    width: 100%;
    height: 50vh;
    background-color: black;
}


.cover__slide {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    top: 85px;
}

.album__cover {
    width: 2016px; margin-left: 0px;
}

.album__cover>li {width: 300px; height: 350px; float: left; margin: 0 18px;
background-color: aqua;}

.album__cover>li img {

}



