@charset "utf-8";

/* HOME */
#home {
    width: 100%;
    height: 100vh;
}

.mainhome {
    position: relative;
    
}

.mainbg {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mainbg img {
    position: absolute;
    top: -100%;
}

.topbar {
    width: 100%;
    height: 150px;
    padding: 0 13%;
    position: absolute;
    position: fixed;
    top: 0;
}

.topbar ul {
    display: flex;
    justify-content: space-between;
    
}

.topbar li {
    padding-top: 8%;

}

.topbar li a {
    color: var(--white);     
}

.artistlogo {
    width: 50%;
    height: 100px;
    position: absolute;
    top: 700px;
    left: 30%;
}


/* ABOUT */
#about {
    width: 100%;
    height: auto;
}

.abouttext {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.debut {
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
}

.debut p {
    font-size: 7rem;
    font-family:'MADE TOMMY Regular_PERSONAL USE';
    font-weight: bold;
}

.explain {
    width: 65%;
    height: 150px;
    text-align: center;
}

.explain p{
    font-size: var(--size-xxs);
}

.aboutphoto {
    width: 100%;
}

.aboutphoto img {
    width: 100%;
}

/* MEMBERS */
#members {
    width: 100%;
    height: auto;
    margin-top: -4px;
}

.membersboard {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}

.innerbox {
    width: 800px;
    height: 90%;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile1 {
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profile2 {
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: space-between;
}

.profile3 {
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: space-between;
}

.ph1 {
    width: 270px;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.ph1 img {
    width: 100%;
}

.ph2 {
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.ph2 img {
    width: 100%;
    margin-top: 28px;
}

.ph3 {
    width: 270px;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.ph3 img {
    width: 100%;
}

.ph4 {
    width: 270px;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.ph4 img {
    width: 100%;
}

.ph5 {
    width: 270px;
    height: 100%;

    border-radius: 5%;
    overflow: hidden;
}

.ph5 img {
    width: 100%;
}

.ph6 {
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.ph6 img {
    width: 100%;
    height: 100%;
}

.ph7 {
    width: 400px;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.ph7 img {
    width: 100%;
}

.ph8 {
    width: 270px;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.ph8 img {
    width: 100%;
}

.introduce{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.le_logo {
    width: 300px;
    height: 50px;
}

.le_logo img {
    width: 100%;

}

.membersinfo {
    background-color: plum;
    width: 300px;
    height: 600px;
    text-align: center;
}

.membersname {
    background-color: yellowgreen;
    padding-top: 50px;

}

.manme {
    font-weight: bold;
}

.type {
    background-color: turquoise;
    padding-top: 30px;
}

/* GALLERY */
#gallery {
    width: 100%;
    height: 100vh;
}

.galleryboard {
    width: 800px;
    height: 99%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ginner1 {
    width: 800px;
    height: 33%;
}

.ginner2 {
    width: 800px;
    height: 66%;
    display: flex;
    justify-content: space-between;
}

.concept1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.concept2 {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.concept3 {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.concept4 {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.outbox1 {
    width: 100%;
    height: 300px;
}

.outbox1-1 {
    width: 100%;
    height: 295px;
}

.outbox2 {
    width: 100%;
    height: 180px;
}

.outbox2-1 {
    width: 100%;
    height: 428px;
}

.outbox3 {
    width: 100%;
    height: 350px;
}

.outbox3-1 {
    width: 100%;
    height: 245px;
}

.gbox1 {
    width: 260px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.gbox1 img {
    width: 100%;
}

.gbox2 {
    width: 260px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.gbox2 img {
    width: 100%;
}

.gbox3 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox3 img {
    width: 100%;
}

.gbox4 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox4 img {
    width: 100%;
}

.gbox5 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox5 img {
    width: 100%;
}

.gbox6 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox6 img {
    width: 100%;
}

.gbox7 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox7 img {
    width: 100%;
}

.gbox8 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox8 img {
    width: 100%;
}

.gbox9 {
    width: 260px;
    height: 100%;
    overflow: hidden;
}

.gbox9 img {
    width: 100%;
}

/* DISCOGRAPHY */
#discography {
    width: 100%;
    height: auto;
}

.container {
    padding: 0 13%;
}

.discobox {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.albumbox {
    width:  680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album {
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 10rem;
    text-align: center;
}

.disco {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.disco img {
    width: 100%;
}

.trackbox {
    width: 680px;
    height: 100%;
    background-color: rgb(48, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track {
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 10rem;
    text-align: center;
}

.track ul li{
    float: left;
}

.tracklist {
    width: 400px;
    height: 400px;
    background-color: darkkhaki;
}

.teaser {
    width: 100%;
    height: 100vh;
    background-color: rgb(159, 167, 245);
}

/* LEGACY */
#legacy {
    width: 100%;
    height: auto;
    background-color: grey;
}
    
.legacyboard {
    width: 80%;
    height: 100vh;
    background-color: wheat;
    margin: 0 auto;
}

.legacy2023 {
    width: 80%;
    height: 60%;
    background-color: rgb(218, 148, 19);
    margin: 0 auto;
}

.legacy2022 {
    width: 80%;
    height: 40%;
    background-color: rgb(128, 85, 5);
    margin: 0 auto;
}

.bottomphoto {
    width: 100%;
    height: 100vh;
    background-color: rgb(199, 179, 245);
}




